<!DOCTYPE html>

<html lang="en" xmlns:th="www.thymeleaf.org" xmlns:sec="http://thymeleaf.org/extras/spring-security">

<head>
	<title>Love to Code</title>
</head>

<body>
	<h2>
		Love to Code Company Home Page
	</h2>
	<hr />
	<p>
		Welcome to the Love to Code company home page!
	</p>
	<hr />

	<!--Display username and role.-->
	<p>
		User: <span sec:authentication="principal.username"></span>
		Role(s): <span sec:authentication="principal.authorities"></span>
	</p>

	<hr />
	<!--Show this only to Managers.-->
	<div sec:authorize="hasRole('MANAGER')">
		<!--Add link to point to the leaders-->
		<p>
			<a th:href="@{/leaders}">Leadership Meeting</a>
			(Only for Managers)
		</p>
	</div>

	<div sec:authorize="hasRole('ADMIN')">
		<p>
			<a th:href="@{/systems}">System Administration</a>
			(Only for SysOp)
		</p>
	</div>

	<form action="#" th:action="@{/logout}" method="POST">
		<input type="submit" value="Logout" />
	</form>
</body>

</html>